

{% extends 'app2/base.html' %}
{% load static %}
{% block title %} 
{% if instance %}Edit QuestionSets{% else %}Edit QuestionSets{% endif %}
{% endblock %}
{% block body %}

<title>{% if instance %}Edit QuestionSets{% else %}Edit QuestionSets{% endif %}
</title>

            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page">
                <div class="content">

                    <!-- Start Content-->
                    <div class="container">

                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <h4 class="page-title">{% if instance %}Edit QuestionSets{% else %}Add QuestionSets{% endif %}
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <!-- end page title -->
                        
                        <form  id="dynamicForm" action="{% url 'dashboard:test' %}" method="post"  enctype="multipart/form-data" >


                        {% csrf_token %}
                   <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="id_categorie" class="form-label">Category</label>
                            {{ form.categorie }}
                        </div>
                    </div>
                    <div class="col-md-6">

                        <div class="mb-3">
                            <label for="id_set_name"  class="form-label">Set Name</label>
                            {{ form.set_name }}
                        </div>
                    </div>
              
                   </div>




                        </div> <!-- end col-->


                        <div class="additional-fields">
                            <!-- New fields will be appended here -->
                        </div>






                         
                       

                             
                            <div class="col-3">
                                <button type="button" id="addAnotherField" class="btn btn-danger chat-send waves-effect waves-light">Add Answer</button>

                                    <button type="submit" class="btn btn-danger chat-send waves-effect waves-light">Submit</button>
    
                                    </div>
                                </div>
                  
                        </form>


                    </div> <!-- container -->

                </div> <!-- content -->
             

                <script>
                    document.addEventListener('DOMContentLoaded', function() {
                        var addAnotherFieldButton = document.getElementById("addAnotherField");
                        var additionalFields = document.querySelector('.additional-fields');
                        var fieldCounter = 1; // Counter to create unique field IDs
                        addAnotherFieldButton.addEventListener("click", function() {
                            var newFields = `
                    <div class="container-fluid">
                        
                                <div class="row">
                                    <div class="col-12">
                                        <div class="page-title-box">
                                            <h4 class="page-title">{% if instance %}Edit QuestionSets{% else %}Add Question{% endif %}
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="col-md-6">

                                <div class="mb-3">
                                    <label for="question-${fieldCounter}" class="form-label">Question </label>
                                    <input type="text" name="question_${fieldCounter}" id="question-${fieldCounter}" class="form-control" placeholder="Enter question">
                                </div>
                        </div>
                        <div class="col-md-6">

                            <div class="mb-3">
                                <label for="file-${fieldCounter}" class="form-label">File <span class="text-danger">*</span></label><br>
                                <input type="file"  id="file-${fieldCounter}" name="file_${fieldCounter}" class=" img-fluid form-control ">

                            </div>
                        </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="page-title-box">
                                            <h4 class="page-title">{% if instance %}Edit Answer{% else %}Add Answer{% endif %}
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                                    <div class="col-md-5">
                                        <div class="mb-3">
                                            <label for="answer-${fieldCounter}" class="form-label">Option1 <span class="text-danger">*</span></label><br>
                                            <input class="form-control" id="answer-${fieldCounter}" name="answer_${fieldCounter}" type="text"  placeholder="Enter Option1" required>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="mb-3">
                                            <label for="file-${fieldCounter}" class="form-label">File <span class="text-danger">*</span></label><br>
                                            <input type="file"  id="file-${fieldCounter}" name="file_${fieldCounter}" class=" img-fluid form-control ">

                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="mb-3">
                                            <label for="is_correct-${fieldCounter}" class="form-label">Is_correct <span class="text-danger">*</span></label><br>
                                            <input type="radio" id="is_correct-${fieldCounter}" name="is_correct_${fieldCounter}"  >

                                        </div>

                                    </div>
                         
                                    <div class="col-md-5">
                                        <div class="mb-3">
                                            <label for="answer-${fieldCounter}" class="form-label">Option1 <span class="text-danger">*</span></label><br>
                                            <input class="form-control" id="answer-${fieldCounter}" name="answer_${fieldCounter}" type="text"  placeholder="Enter Option1" required>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="mb-3">
                                            <label for="file-${fieldCounter}" class="form-label">File <span class="text-danger">*</span></label><br>
                                            <input type="file"  id="file-${fieldCounter}" name="file_${fieldCounter}" class=" img-fluid form-control ">

                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="mb-3">
                                            <label for="is_correct-${fieldCounter}" class="form-label">Is_correct <span class="text-danger">*</span></label><br>
                                            <input type="radio" id="is_correct-${fieldCounter}" name="is_correct_${fieldCounter}"  >

                                        </div>

                                    </div>
                                    <div class="col-md-5">
                                        <div class="mb-3">
                                            <label for="answer-${fieldCounter}" class="form-label">Option1 <span class="text-danger">*</span></label><br>
                                            <input class="form-control" id="answer-${fieldCounter}" name="answer_${fieldCounter}" type="text"  placeholder="Enter Option1" required>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="mb-3">
                                            <label for="file-${fieldCounter}" class="form-label">File <span class="text-danger">*</span></label><br>
                                            <input type="file"  id="file-${fieldCounter}" name="file_${fieldCounter}" class=" img-fluid form-control ">

                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="mb-3">
                                            <label for="is_correct-${fieldCounter}" class="form-label">Is_correct <span class="text-danger">*</span></label><br>
                                            <input type="radio" id="is_correct-${fieldCounter}" name="is_correct_${fieldCounter}"  >

                                        </div>

                                    </div>
                                    <div class="col-md-5">
                                        <div class="mb-3">
                                            <label for="answer-${fieldCounter}" class="form-label">Option1 <span class="text-danger">*</span></label><br>
                                            <input class="form-control" id="answer-${fieldCounter}" name="answer_${fieldCounter}" type="text"  placeholder="Enter Option1" required>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="mb-3">
                                            <label for="file-${fieldCounter}" class="form-label">File <span class="text-danger">*</span></label><br>
                                            <input type="file"  id="file-${fieldCounter}" name="file_${fieldCounter}" class=" img-fluid form-control ">

                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="mb-3">
                                            <label for="is_correct-${fieldCounter}" class="form-label">Is_correct <span class="text-danger">*</span></label><br>
                                            <input type="radio" id="is_correct-${fieldCounter}" name="is_correct_${fieldCounter}"  >

                                        </div>

                                    </div>

                                    <div class="col-md-3">
                                        <div class="mb-5">

                                        <button type="button" class="btn btn-danger removeField">Remove</button>
                                        </div>
                                    </div>
                          
                                 
                                     
                                </div>
                            </div>
                            `;
                            additionalFields.insertAdjacentHTML('beforeend', newFields);
                            fieldCounter++; // Increment counter for the next set of fields
                            var removeButtons = document.querySelectorAll('.removeField');
                            removeButtons.forEach(function(btn) {
                                btn.addEventListener('click', function(e) {
                                    e.target.closest('.row').remove();
                                });
                            });
                        });
                    });
                </script>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.7.2/dist/js/bootstrap.bundle.min.js"></script>
                <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
                
                <script>
                    $(document).ready(function() {
                        // Set up event listener for the change in the category dropdown
                        $('#id_categorie').change(function() {
                            var categoryId = $(this).val();
                            // Make an AJAX request to get question sets for the selected category
                            $.ajax({
                                url: "{% url 'dashboard:get_question_sets' %}",  // Replace with the URL to your view
                                data: {'category_id': categoryId},
                                dataType: 'json',
                                success: function(data) {
                                    // Update the options in the question set dropdown
                                    var questionSetDropdown = $('#id_set_name');
                                    questionSetDropdown.empty();
                                    $.each(data, function(key, value) {
                                        questionSetDropdown.append($('<option></option>').attr('value', value.id).text(value.set_name));
                                    });
                                }
                            });
                        });
                    });
                </script>
                  
       {%endblock%}