

{% extends 'app2/base.html' %}
{% load static %}
{% block title %} 
{% if instance %}QuestionSets{% else %}QuestionSets{% endif %}
{% endblock %}
{% block body %}
<title>{% if instance %}QuestionSets{% else %}QuestionSets{% endif %}
</title>

            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page">
                <div class="content">

                    <!-- Start Content-->
                    <div class="container-fluid">

                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <h4 class="page-title">Question sets
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <!-- end page title -->
                      
                        <form>
                         
                
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row justify-content-between  mb-2">
                                            <div class="col-sm-6">
                                                
                                                <a href="{% url 'dashboard:categorie'%}" class="btn btn-danger mb-2"><i class="mdi mdi-minus-circle me-2"></i> Back to Question Categorie</a>
                                            </div> 
                                            <div class="col-sm-6 ">
                                                <a href="{% url 'dashboard:add_QuestionSets'%}" class="btn btn-success mb-2 float-end"><i class="mdi mdi-plus-circle me-2"></i> Add New SET</a>
                                            </div>
                                        </div>

                                        <div class="row">

                                         
                                            {% for sets in  related_sets%}
                                            <div class="col-md-4 col-xxl-3">
                                                <div class="card d-block">
                                                    <div class="card-body position-relative " >
                                                        <h4 class="mt-0">
                                                            <a href="{% url 'dashboard:question' sets.id %}" class="text-title">{{sets.set_name}}</a>
                                                        </h4>
                                                            <div class="badge text-bg-secondary p-1">
                                                                {% if sets.is_free == True %}
                                                                    Free
                                                                {% else %}
                                                                    Not Free
                                                                {% endif %}
                                                            </div>
                                                        
                                                        <p class="mb-3">
                                                            <span class="pe-2 text-nowrap">
                                                                <i class="mdi mdi-format-list-bulleted-type"></i>
                                                                <b>{{sets.question_set_name.all.count}}</b> Questions
                                                            </span>
                                                            
                                                        </p>
                                                        
                                                        <div class="col-auto mt-3 d-flex">
                                                            <a href="{% url 'dashboard:create_questions' sets.id %}" class="add btn btn-success " title="Add">Add</a>
                                                            <a href="{% url 'dashboard:edit_QuestionSets' sets.id %}" class="btn btn-info chat-send waves-effect waves-light ">Edit</a>
                                                            <a href="#QuestionSetsDeleteModel{{sets.id}}" class="delete btn btn-danger " data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete"></i>Delete</a>
                                                                                                                </div>
                                                    </div> <!-- end card-body-->
                                                </div> <!-- end card-->
                                            </div> <!-- end col -->
                                            {% empty %}
                                            <div class="text-danger fs-5"> No sets ..</div>
                                            {% endfor %}
                                        </div>

                                        <!-- related sets -->

                                        <!-- end row -->

                                </div> <!-- end card-->
                            </div> <!-- end col-->
                        </div>
                        <!-- end row-->
                    </form>

                    
                    </div> <!-- container -->
           
                </div> <!-- content -->


                {% block content %}
                    {% for item in  related_sets %}
                        <div class="modal fade"  id="QuestionSetsDeleteModel{{ item.id }}"  tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content custom-modal">
                                        <div class="modal-footer">
                                            Are you sure you want to delete this QuestionSets Id Number #{{ item.id }}
                                          
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                            <form method="post" action="{% url 'dashboard:deletequestionSets' item.id %}">
                                                {% csrf_token %}
                                                <input type="hidden" name="category_id" value ="{{item.categorie.id}}">
                                                <button type="submit" class="btn btn-danger">Delete</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                        
                                                </div>
                                    {% endfor %}
                                    <style>
                                    /* static/css/custom.css */
                
                                    .custom-modal {
                                        background-color: white; /* Set the background color to white */
                                    }
                                    </style>
                                    <!-- Include your other CSS files -->
                                    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
                
                                    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                                    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
                
                                    <script>
                                        $(document).ready(function () {
                                            $('#QuestionSetsdeleteModal').modal('show');
                                        });
                                    </script>
                                    {% endblock %}


                
                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>

                <script>
                    $(document).ready(function() {
                        $("#category").change(function() {
                            var url = $("#form").attr("data-courses-url");
                            var programmingId = $(this).val();
                            console.log(programmingId);
                            $.ajax({
                                url: url,
                                data: {
                                    'programming': programmingId
                                },
                                success: function(data) {
                                    $("#courses").html(data);
                                    //console.log(data);
                                },
                                error:function(data){
                                    console.log(data);
                                }
                            });
                        });
                    });
                </script>
       {%endblock%}