
{% extends 'app2/base.html' %}
{% load static %}
{% block title %} 
Students
{% endblock %}
{% block body %}

<style>
    #datatable-buttons_length {
        visibility: visible;
    }
</style>


            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page">
                <div class="content">

                    <!-- Start Content-->
                    <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <h4 class="page-title">Students</h4>
                                </div>
                            </div>
                        </div>
                        <!-- end page title -->
                     
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body row  justify-content-between">
                                        <div class="col-sm-6">
                                            <span class="fs-4 text-bold text-uppercase">View All Students</span><br>
                                            <span>Students / All Students</span>
                                        </div>
                                        <div class="col-sm-5 ">
                                            <a href="{% url 'dashboard:student_register' %}" class="btn btn-danger float-end"><i class="mdi mdi-plus-circle "></i> Add Students</a>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">

                                     
                                        
                                        {% if messages %}
                                            {% for msg in messages %}
                                                <div class="alert alert-{{ msg.tags }} alert-dismissible text-bg-{{ msg.tags }} border-0 fade show" role="alert">
                                                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
                                                    <strong>{% if msg.tags == 'success' %}Success{% elif msg.tags == 'warning' %}Warning{% endif %} - </strong>{{ msg.message }}
                                                </div>
                                            {% endfor %}
                                        {% endif %}

                                        <div class="tab-content">
                                            <div class="tab-pane show active" id="buttons-table-preview">
                                                <table id="datatable-buttons" class="table table-striped dt-responsive nowrap w-100">
                                                    <thead>
                                                        <tr>
                                                            <th>Id</th>
                                                            <th>Name</th>
                                                            <th>Email</th>
                                                            <th>Contact</th>
                                                            <th>Image</th>
                                                            <th style="width:200px">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for student in students %}
                                                        <tr>
                                                            <td>{{ forloop.counter }}</td>
                                                            <td class="text-capitalize">{{ student.name }}</td>
                                                            <td>{{ student.email }}</td>
                                                            <td>{{ student.phone_No }}</td>
                                                            <td>
                                                                <div class="image-gallery">
                                                                    <img class="thumbnail object-fit-cover" src="{%if student.avatar %}{{student.avatar.url}}{% endif %}" height="100" width="100" alt="No Image found..">
                                                                </div>
                                                                <div class="modal" id="imageModal">
                                                                    <span class="close-btn" onclick="closeModal()">&times;</span>
                                                                    <img class="modal-content" id="modalImage" style="height:300px; width:300px; object-fit:cover;" >
                                                                </div>
                                                            </td>

                                                            <td>
                                                                {% comment %} <a href="" class="action-icon" title="view Detail"> <i class="mdi mdi-eye"></i></a> {% endcomment %}
                                                                <a href="{% url 'dashboard:student_update' student.id %}" class="font-18 text-info" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><i class="uil uil-pen"></i></a>
                                                                <a href="{% url 'dashboard:student_delete' student.id %}" class="delete" ><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>

                                                                
                                                            </td>
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div> <!-- end preview-->
                                        </div> <!-- end tab-content-->
                                        
                                        
                                    </div> <!-- end card body-->
                                </div> <!-- end card -->
                            </div><!-- end col-->
                        </div> <!-- end row-->


                  
                    </div> <!-- container -->

                </div> <!-- content -->

                {% for student in students %}
                <div class="modal fade"  id="studentDelete{{student.id}}"  tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content custom-modal">
                            <div class="modal-footer">
                                Are you sure you want to delete this Group #{{ student.name}}
                              
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <form method="post" action="{% url 'dashboard:student_delete' student.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
            
                </div>
                {% endfor %}

                <script>
                    $(document).ready(function() {
                        $('#datatable-buttons').DataTable({
                            paging: true, 
                            searching: true 
                        });
                    });
                </script>


                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

                <script>
                $(document).ready(function() {
                    $('#entries-select').change(function() {
                    var numEntries = $(this).val();
                    $('#data-table tbody tr').hide();
                    $('#data-table tbody tr').slice(0, numEntries).show();
                    });

                    $('#entries-select').trigger('change');
                });
                </script> 
{% endblock %}
              

  